<ion-view>
  <ion-header-bar class="bar-dark">
    <div class="buttons">
    <a class="button" href="#/dashboard">Back</a>
  </div>
  <h1 class="title">Settings</h1>
</ion-header-bar>
  <ion-content>
    <div class="list">
      <ul class="list">
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     Notifications Sounds
  </li>
  <ul class="list">
<li class="item item-checkbox">
 <label class="checkbox">
   <input type="checkbox">
 </label>
 Push Notifications
</li>
</ul>
    </div>
  </ion-content>
</ion-view>
